* {
  box-sizing: border-box;
  margin: 0;
  
}

body {
  font-family: 'Open Sans', sans-serif;
}



.headerContainer {
  margin: 0%;
  padding: 3px;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  
}

.logo {
  font-family: 'Fredoka One', cursive;
}

.logo a:visited {
  text-decoration: none;
  color: #21897E;
}

.navbarLi a:visited {
  color: black;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: #7EBCE6;
}

.signUp {
  text-align: center;
  margin-top: 4%;
  border: 1px solid rgb(173, 165, 165);
  width: 50%;
  margin-left: 25%;
  padding: 150px;
  border-radius: 2%;
  margin-bottom: 7%;
  background-color: #21897E;
}

.formEntry {
  padding: 20px;
  font-size: 30px;
}

.navbar {
  font-size: 1.3rem;
  background-color: #468189;
}

.navbar-brand {
  font-size: 2.0rem !important;
}

.navbarContainer {
  background-color: #7EBCE6;
  margin: 0%;
  padding: 3px;
  display: flex;
  justify-content: space-evenly;
  font-size: 30px;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  
}

.navbarUl {
  display: flex;
  list-style: none;
  margin: 1%;
}

.navbarLi {
  padding: 5px;
  font-weight: bold;
  font-size: 25px;
}

.logo {
  margin: 1%;
}

.petContainer {
  display: flex;
  justify-content:center;
}

.card {
  /* margin: 1%;
  text-align: center;
  border: 1px solid black;
  border-radius: 5%; */
  background: white;
  padding: 1rem;
  border: 1px solid #777;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
  width: 18rem;
  
}

.carouselImg {
  
  height: 600px;
  object-fit: contain;
}

.petImg {
  object-fit: cover;
  width: 220px;
  height: 220px;
  border-radius: 5%;
}

.homepage {
  text-align: center;
  margin-top: 3%;

}
.footer {
  background-color: #7EBCE6;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
}