* {
  box-sizing: border-box;
}

.navbarUl {
  background-color: rgb(51, 160, 160);
  margin: 0%;
  padding: 3px;
  display: flex;
  justify-content: end;
  font-size: 30px;
  list-style: none;
}

.navbarLi {
  margin-left: 3%;
}