* {
  box-sizing: border-box;
  margin: 0;
}

.navbarContainer {
  background-color: rgb(51, 160, 160);
  margin: 0%;
  padding: 3px;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  
}

.navbarUl {
  display: flex;
  list-style: none;
  margin: 1%;
}

.navbarLi {
  padding: 5px;
}

.logo {
  margin: 1%;
}

.petContainer {
  display: flex;
  justify-content:center;
}

.card {
  margin: 1%;
  text-align: center;
  border: 1px solid black;
  border-radius: 5%;
  
  
}

.cardContainer {
  margin-top: 30px;
  margin-bottom: 30px;
  
  
}

.petImg {
  width: 300px;
  height: 300px;
  border-radius: 5%;
  
  
}

.footer {
  background-color:rgb(51, 160, 160);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
}